/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}



/*template css*/

/* Profile_page */
body {
	background-color: #f0f6ff;
	color: #28384d;
}
/*social */
.card-one {
	position: relative;
	width: 300px;
	background: #fff;
	box-shadow: 0 10px 7px -5px rgba(0, 0, 0, 0.4);
}

.card {
	margin-bottom: 35px;
	box-shadow: 0 10px 20px 0 rgba(26, 44, 57, 0.14);
	border: none;
}

.follower-wrapper li {
	list-style-type: none;
	color: #fff;
	display: inline-block;
	float: left;
	margin-right: 20px;
}

.social-profile {
	color: #fff;
}

	.social-profile a {
		color: #fff;
	}

.social-profile {
	position: relative;
	margin-bottom: 150px;
}

	.social-profile .user-profile {
		position: absolute;
		bottom: -75px;
		width: 150px;
		height: 150px;
		border-radius: 50%;
		left: 50px;
	}

.social-nav {
	position: absolute;
	bottom: 0;
}

.social-prof {
	color: #333;
	text-align: center;
}

	.social-prof .wrapper {
		width: 70%;
		margin: auto;
		margin-top: -100px;
	}

	.social-prof img {
		width: 150px;
		height: 150px;
		border-radius: 50%;
		margin-bottom: 20px;
		border: 5px solid #fff;
		/*border: 10px solid #70b5e6ee;*/
	}

	.social-prof h3 {
		font-size: 36px;
		font-weight: 700;
		margin-bottom: 0;
	}

	.social-prof p {
		font-size: 18px;
	}

	.social-prof .nav-tabs {
		border: none;
	}

.card .nav > li {
	position: relative;
	display: block;
}

	.card .nav > li > a {
		position: relative;
		display: block;
		padding: 10px 15px;
		font-weight: 300;
		border-radius: 4px;
	}

		.card .nav > li > a:focus,
		.card .nav > li > a:hover {
			text-decoration: none;
			background-color: #eee;
		}

.card .s-nav > li > a.active {
	text-decoration: none;
	background-color: #3afe;
	color: #fff;
}

.text-blue {
	color: #3afe;
}

ul.friend-list {
	margin: 0;
	padding: 0;
}

	ul.friend-list li {
		list-style-type: none;
		display: flex;
		align-items: center;
	}

		ul.friend-list li:hover {
			background: rgba(0, 0, 0, .1);
			cursor: pointer;
		}

	ul.friend-list .left img {
		width: 45px;
		height: 45px;
		border-radius: 50%;
		margin-right: 20px;
	}

	ul.friend-list li {
		padding: 10px;
	}

	ul.friend-list .right h3 {
		font-size: 16px;
		font-weight: 700;
		margin-bottom: 0;
	}

	ul.friend-list .right p {
		font-size: 11px;
		color: #6c757d;
		margin: 0;
	}

.social-timeline-card .dropdown-toggle::after {
	display: none;
}

.info-card h4 {
	font-size: 15px;
}

.info-card h2 {
	font-size: 18px;
	margin-bottom: 20px;
}

.social-about .social-info {
	font-size: 16px;
	margin-bottom: 20px;
}

.social-about p {
	margin-bottom: 20px;
}

.info-card i {
	color: #3afe;
}

.card-one {
	position: relative;
	width: 300px;
	background: #fff;
	box-shadow: 0 10px 7px -5px rgba(0, 0, 0, 0.4);
}

	.card-one .header {
		position: relative;
		width: 100%;
		height: 60px;
		background-color: #3afe;
	}

		.card-one .header::before,
		.card-one .header::after {
			content: '';
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background: inherit;
		}

		.card-one .header::before {
			-webkit-transform: skewY(-8deg);
			transform: skewY(-8deg);
			-webkit-transform-origin: 100% 100%;
			transform-origin: 100% 100%;
		}

		.card-one .header::after {
			-webkit-transform: skewY(8deg);
			transform: skewY(8deg);
			-webkit-transform-origin: 0 100%;
			transform-origin: 0 100%;
		}

		.card-one .header .avatar {
			position: absolute;
			left: 50%;
			top: 30px;
			margin-left: -50px;
			z-index: 5;
			width: 100px;
			height: 100px;
			border-radius: 50%;
			overflow: hidden;
			background: #ccc;
			border: 3px solid #fff;
		}

			.card-one .header .avatar img {
				position: absolute;
				top: 50%;
				left: 50%;
				-webkit-transform: translate(-50%, -50%);
				transform: translate(-50%, -50%);
				width: 100px;
				height: auto;
			}

	.card-one h3 {
		position: relative;
		margin: 80px 0 30px;
		text-align: center;
	}

		.card-one h3::after {
			content: '';
			position: absolute;
			bottom: -15px;
			left: 50%;
			margin-left: -15px;
			width: 30px;
			height: 1px;
			background: #000;
		}

	.card-one .desc {
		padding: 0 1rem 2rem;
		text-align: center;
		line-height: 1.5;
		color: #777;
	}

	.card-one .contacts {
		width: 200px;
		max-width: 100%;
		margin: 0 auto 3rem;
	}

		.card-one .contacts a {
			display: block;
			width: 33.333333%;
			float: left;
			text-align: center;
			color: #c8c;
		}

			.card-one .contacts a:hover {
				color: #333;
			}

				.card-one .contacts a:hover .fa::before {
					color: #fff;
				}

				.card-one .contacts a:hover .fa::after {
					width: 100%;
					height: 100%;
				}

			.card-one .contacts a .fa {
				position: relative;
				width: 40px;
				height: 40px;
				line-height: 39px;
				overflow: hidden;
				text-align: center;
				font-size: 1.3em;
			}

				.card-one .contacts a .fa:before {
					position: relative;
					z-index: 1;
				}

				.card-one .contacts a .fa::after {
					content: '';
					position: absolute;
					top: 50%;
					left: 50%;
					width: 0;
					height: 0;
					-webkit-transform: translate(-50%, -50%);
					transform: translate(-50%, -50%);
					background: #c8c;
					transition: width .3s, height .3s;
				}

			.card-one .contacts a:last-of-type .fa {
				line-height: 36px;
			}

	.card-one .footer {
		position: relative;
		padding: 1rem;
		background-color: #3afe;
		text-align: center;
	}

		.card-one .footer a {
			padding: 0 1rem;
			color: #e2e2e2;
			transition: color .4s;
		}

			.card-one .footer a:hover {
				color: #c8c;
			}

		.card-one .footer::before {
			content: '';
			position: absolute;
			top: -27px;
			left: 50%;
			margin-left: -15px;
			border: 15px solid transparent;
			border-bottom-color: #3afe;
		}

.card-title, .card .card-title, .card-2 .card-title {
	font-size: 16px;
	font-weight: 700;
	margin-bottom: 20px;
	white-space:pre-line;
}

a {
	color: #333;
}

.badge {
	font-size: 12px;
	line-height: 1;
	padding: .375rem .5625rem;
	font-weight: normal;
}

.badge-primary {
	color: #447de8;
	background-color: #e6edff;
}

.badge {
	display: inline-block;
	padding: .4em .5em;
	font-size: 75%;
	font-weight: 700;
	line-height: 1;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
label input[type="file"] {
	display: none;
}
.hız {
	position: relative;
	left: 288px;
	top: -191px;
	margin: -10px;
}

/*end social*/

/*Comment Css*/
body {
	margin-top: 20px;
	background-color: #e9ebee;
}

.be-comment-block {
	margin-bottom: 50px !important;
	border: 1px solid #edeff2;
	border-radius: 2px;
	padding: 50px 70px;
	border: 1px solid #ffffff;
}

.comments-title {
	font-size: 16px;
	color: #262626;
	margin-bottom: 15px;
	font-family: 'Conv_helveticaneuecyr-bold';
}

.be-img-comment {
	width: 60px;
	height: 60px;
	float: left;
	margin-bottom: 15px;
}

.be-ava-comment {
	width: 60px;
	height: 60px;
	border-radius: 50%;
}

.be-comment-content {
	margin-left: 80px;
}

	.be-comment-content span {
		display: inline-block;
		width: 49%;
		margin-bottom: 15px;
	}

.be-comment-name {
	font-size: 13px;
	font-family: 'Conv_helveticaneuecyr-bold';
}

.be-comment-content a {
	color: #383b43;
}

.be-comment-content span {
	display: inline-block;
	width: 49%;
	margin-bottom: 15px;
}

.be-comment-time {
	text-align: right;
}

.be-comment-time {
	font-size: 11px;
	color: #b4b7c1;
}

.be-comment-text {
	font-size: 13px;
	line-height: 18px;
	color: #7a8192;
	display: block;
	background: #f6f6f7;
	border: 1px solid #edeff2;
	padding: 15px 20px 20px 20px;
}

.form-group.fl_icon .icon {
	position: absolute;
	top: 1px;
	left: 16px;
	width: 48px;
	height: 48px;
	background: #f6f6f7;
	color: #b5b8c2;
	text-align: center;
	line-height: 50px;
	-webkit-border-top-left-radius: 2px;
	-webkit-border-bottom-left-radius: 2px;
	-moz-border-radius-topleft: 2px;
	-moz-border-radius-bottomleft: 2px;
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
}

.form-group .form-input {
	font-size: 13px;
	line-height: 50px;
	font-weight: 400;
	color: #b4b7c1;
	width: 100%;
	height: 50px;
	padding-left: 20px;
	padding-right: 20px;
	border: 1px solid #edeff2;
	border-radius: 3px;
}

.form-group.fl_icon .form-input {
	padding-left: 70px;
}

.form-group textarea.form-input {
	height: 150px;
}
.act {
	border: 1px solid red;
	background-color: #F67848;
}



/*details css*/

body {
	margin-top: 20px;
	background: #eee;
}

.form-control {
	border: 1px solid #d1d4d7;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	color: #3d3f42;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.activity .panel .panel-heading {
	line-height: 20px;
	height: 70px;
	padding-top: 15px
}

	.activity .panel .panel-heading img {
		height: 40px;
		margin: 0 15px 15px 0;
		float: left
	}

	.activity .panel .panel-heading .small {
		color: #d1d4d7
	}

	.activity .panel .panel-heading .pull-right {
		font-size: 12px;
		color: #d1d4d7
	}

		.activity .panel .panel-heading .pull-right i {
			font-size: 14px
		}

.activity .panel .panel-body .video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden
}

	.activity .panel .panel-body .video-container iframe,
	.activity .panel .panel-body .video-container object,
	.activity .panel .panel-body .video-container embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%
	}

.activity .panel .panel-body .actions {
	background: #f8f9fa;
	margin: 15px -15px 0 -15px;
	padding: 0 20px 0 10px;
	line-height: 50px;
	font-size: 12px
}

	.activity .panel .panel-body .actions .btn {
		font-size: 12px;
		text-decoration: none
	}

.activity .panel .panel-body .media-object {
	width: 30px
}

.activity .panel .panel-body .media .media-body .media-heading {
	font-weight: 500
}

.activity .panel .panel-body .media .media-body .small {
	color: #d1d4d7
}

.activity .panel .panel-body .media .media-body p {
	margin-top: 10px;
	font-size: 12px
}







